html, body {
 margin: 0;
 padding: 0;
}
.login-page {
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: calc(100vh - 70px);
 background: radial-gradient(circle at top, #23284d, #0e1026);
 font-family: 'Poppins', sans-serif;
}


.login-card {
 background: #24294e;
 padding: 2rem;
 border-radius: 15px;
 box-shadow: 0 0 20px rgba(46, 247, 225, 0.3);
 transition: transform 0.3s, box-shadow 0.3s;
 text-align: center;
 width: 350px;
 animation: fadeIn 0.6s ease-in-out;
}

.login-card:hover {
 transform: translateY(-5px);
 box-shadow: 0 0 30px rgba(255, 79, 193, 0.5);
}
.login-card h3 {
 color: #4dabf7;
 margin-bottom: 25px;
 font-size: 1.8rem;
 font-weight: 600;
 letter-spacing: 0.5px;
}

.login-card p {
 color: #777;
 font-size: 0.9rem;
 margin-bottom: 15px;
}

.login-card form {
 display: flex;
 flex-direction: column;
 gap: 15px;
}

.login-card label {
 text-align: left;
 color: #6e6e8d;
 font-size: 0.9rem;
 margin-bottom: 3px;
}

.login-card input {
 padding: 12px;
 border: 1px solid #d1d5db;
 border-radius: 10px;
 font-size: 0.95rem;
 outline: none;
 transition: 0.3s;
 background-color: #fafafa;
}

.login-card input:focus {
 border-color: #2ef7e1;
 box-shadow: 0 0 10px rgba(46, 247, 225, 0.4);
 background-color: #ffffff;
}

.custom-btn {
 background: linear-gradient(90deg, #ff4fc1, #2ef7e1);
 border: none;
 width: 60%;
 margin: 20px auto 0;
 padding: 12px;
 border-radius: 12px;
 color: #fff;
 font-weight: 600;
 cursor: pointer;
 transition: 0.3s;
 letter-spacing: 0.5px;
}

.custom-btn:hover {
 color:#fff;
 transform: translateY(-2px);
 filter: brightness(1.15);
}

@keyframes fadeIn {
 from {
  opacity: 0;
  transform: translateY(20px);
 }
 to {
  opacity: 1;
  transform: translateY(0);
 }
}
